In [1]:
import pandas as pd

In [4]:
fruit_sales = pd.DataFrame({"Apples":[35,41],"Bananas":[21,34]}, index=["2017 Sales","2018 Sales"])
fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [7]:
ngredients = pd.DataFrame(["4 cups","1 cup","2 large", "1 can"], index=["Flour", "Milk", "Eggs", "Spam"]).to_
ngredients

             0
Flour   4 cups
Milk     1 cup
Eggs   2 large
Spam     1 can

In [ ]:
#Create a DataFrame top_oceania_wines containing all reviews with at least 95 points (out of 100) for wines from Australia or New Zealand.
oceaniv_reviews = reviews[(reviews.country == "Australia") | (reviews.country == "New Zealand")]
top_oceania_wines = oceaniv_reviews[oceaniv_reviews.points >= 95]
top_oceania_wines = reviews[[reviews.country == "Australia" or "New Zealand"]&[reviews.points>=95]]

#reviews.loc[(reviews.country == "Australia" or "New Zealand") & (reviews.points >= 95)]